* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  backdrop-filter: blur(15px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.14);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--pravo a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  margin: 0 20px;
}
#header .header--pravo a:hover {
  color: red;
  transition: 0.4s;
  text-decoration-line: underline;
}
#header .header--pravo .pravo-btn {
  width: 193px;
  height: 48px;
  border: 2px solid red;
  border-radius: 10px;
  background: red;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.003em;
}
#header .header--pravo .pravo-btn:hover {
  transition: 0.3s;
  color: red;
  border: 1px solid black;
  background: #FFFFFf;
}

#hero {
  background: url("../img/bg2.png");
  min-height: 80vh;
}
#hero .hero {
  padding-top: 250px;
}
#hero .hero--text p {
  width: 384px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
#hero .hero--text h1 {
  width: 735px;
  height: 174px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.003em;
  color: white;
}
#hero .hero--text .consult {
  margin: 20px 5px;
}
#hero .hero--text .consult--btn {
  width: 300px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  border: 1px solid red;
}
#hero .hero--text .consult .consult--btn:hover {
  transition: 0.4s;
  color: red;
  background: white;
}
#hero .hero--text .consult--btn2 {
  width: 200px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  border: 1px solid red;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-left: 20px;
}
#hero .hero--text .consult .consult--btn2:hover {
  color: red;
  transition: 0.4s;
  background: white;
}

#proverka {
  background: #222222;
}
#proverka .proverka {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#proverka .proverka--bashi {
  text-align: center;
  width: 210px;
  height: 140px;
  background: #FFFFFF;
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px 0;
}
#proverka .proverka--bashi h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FF001E;
  padding: 20px 0;
}
#proverka .proverka--bashi p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
#proverka .unical {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#proverka .unical--text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#proverka .unical--text p {
  width: 436px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 10px 0;
}
#proverka .unical--text .unical--btn {
  margin: 40px 0;
  width: 299px;
  height: 50px;
  background: #FF001E;
  border: 2px solid red;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
#proverka .unical--text .unical--btn:hover {
  transition: 0.3s;
  background: white;
  color: red;
}
#proverka .unical--text .unical--btn2 {
  width: 156px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  border: 2px solid red;
}
#proverka .unical--text .unical--btn2:hover {
  transition: 0.4s;
  color: #FF001E;
  background: white;
}
#proverka .burger h1 {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: white;
}
#proverka .burger p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#proverka .burger .burger-rod {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#proverka .burger--kombo .shrift {
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background: #FFFFFF;
  text-align: center;
}
#proverka .burger--kombo .shrift .art-img {
  margin: -45px 0;
}
#proverka .burger--kombo .shrift h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 30px 0;
}
#proverka .burger--kombo .shrift img {
  padding: 20px 0;
}
#proverka .burger--kombo .shrift p {
  width: 235px;
  height: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 20px;
  padding-bottom: 90px;
}
#proverka .burger--kombo .shrift span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
#proverka .burger--kombo .shrift h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: red;
  padding-bottom: 60px;
}
#proverka .burger--kombo .shrift .ismanbtn {
  width: 250px;
  height: 40px;
  background: #222222;
  border-radius: 10px;
  border: 2px solid #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#proverka .burger--kombo .shrift .ismanbtn:hover {
  transition: 0.4s;
  color: red;
  background: white;
}
#proverka .burger--kombo .shrift .bolotbtn {
  width: 250px;
  height: 40px;
  background: red;
  border-radius: 10px;
  border: 2px solid red;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#proverka .burger--kombo .shrift .bolotbtn:hover {
  transition: 0.4s;
  background: white;
  color: red;
}
#proverka .divan {
  margin-top: 90px;
}
#proverka .divan h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#proverka .divan--block {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#proverka .divan--block__zanaveska {
  width: 330px;
  height: 161px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
#proverka .divan--block__zanaveska p {
  padding: 50px 50px;
  width: 226px;
  height: 72px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #000000;
}
#proverka .divan--block__zanaveska .shtory {
  width: 282px;
  height: 96px;
  padding: 30px 23px;
}
#proverka .divan--block__zanaveska .material {
  width: 290px;
  height: 96px;
  padding: 30px 23px;
}
#proverka .paket {
  display: flex;
  justify-content: center;
}
#proverka .paket--cuki {
  width: 250px;
  height: 40px;
  background: #FF001E;
  border: 2px solid red;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 30px;
}
#proverka .paket .paket--cuki:hover {
  transition: 0.6s;
  color: red;
  background: white;
  border: none;
}
#proverka .paket--cuchi {
  width: 200px;
  height: 40px;
  background: #FF001E;
  border-radius: 10px;
  border: 2px solid red;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
#proverka .paket .paket--cuchi:hover {
  transition: 0.6s;
  background: #FFFFFF;
  color: red;
  border: none;
}
#proverka .tipa {
  margin-top: 70px;
}
#proverka .tipa p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#proverka .tipa h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#proverka .tipa .tipa--text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#proverka .tipa .tipa--text p {
  margin-top: -300px;
  height: 72px;
  width: 629px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#proverka .tipa .tipa--tip {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 642px;
  height: 400px;
  background: #9D0013;
  border: 2px solid #9D0013;
  border-radius: 20px;
  margin-bottom: 40px;
}
#proverka .tipa .tipa--tip h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-left: 30px;
}
#proverka .tipa .tipa--tip__gorod {
  display: flex;
}
#proverka .tipa .tipa--tip__gorod input {
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.003em;
  color: #535353;
  border: none;
}
#proverka .tipa .tipa--tip__gorod .mm {
  margin-right: 20px;
}
#proverka .tipa .tipa--tip__gorod input:hover {
  transition: 0.5s;
  color: red;
  background: white;
  border: red;
}
#proverka .tipa .tipa--tip__telephone {
  display: flex;
}
#proverka .tipa .tipa--tip__telephone input {
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.003em;
  color: #535353;
  border: none;
}
#proverka .tipa .tipa--tip__telephone .mm {
  margin-right: 20px;
}
#proverka .tipa .tipa--tip__telephone input:hover {
  transition: 0.5s;
  background: white;
  color: #FF001E;
}
#proverka .tipa .tipa--tip .tur {
  width: 582px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 10px;
  background: #FFFFFF;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.003em;
  color: #535353;
  border: none;
}
#proverka .tipa .tipa--tip .tur:hover {
  transition: 0.5s;
  background: white;
  border: none;
}
#proverka .tipa .tipa--tip .tip {
  width: 582px;
  height: 40px;
  background: #222222;
  border-radius: 10px;
  border: 2px solid #222222;
}
#proverka .tipa .tipa--tip .tip:hover {
  background: #FFFFFF;
  transition: 0.5s;
  color: #222222;
}

#footer .footer {
  display: flex;
}
#footer .footer--lift h1 {
  margin: 30px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.003em;
  color: #000000;
}
#footer .footer--lift button {
  margin: 0 20px;
  width: 294px;
  height: 59px;
  background: #FF001E;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.003em;
  color: #F5F7F9;
  border: none;
}
#footer .footer--lift button:hover {
  transition: 0.4s;
  background: #FFFFFF;
  color: red;
  border: 2px solid red;
}
#footer .footer--rig {
  margin: 40px 100px;
}
#footer .footer--rig p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.003em;
  color: #000000;
  margin-top: 10px;
}
#footer .footer--rig2 {
  margin: 40px 0;
}
#footer .footer--rig2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.003em;
  color: #000000;
  margin-top: 10px;
}

/*# sourceMappingURL=style2.css.map */
