$bb: blue;
@import "reset";
@import "mixin";
@import "veriabless";
#header{
  position: fixed ;
  width: 100%;
  padding: 15px 0;
  backdrop-filter: blur(15px);
  border-bottom: 2px solid rgba(355, 355, 355, 0.14);

  .header{

    @include space-between;
    &--pravyi{
      a{
        @include a;
        color: $bo;
        margin: 0 20px;
      }
      a:hover{
        color: red;
        transition: 0.4s;
        text-decoration-line: underline;
      }
      .pravyi-btn{
        width: 193px;
        height: 48px;
        border: 2px solid red;
        border-radius: 10px;
        background: red;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.003em;
      }
      .pravyi-btn:hover{
        transition: 0.3s;
        color: red;
        border: 1px solid black;
        background: #FFFFFf;

      }

    }
  }
}
#hero{
  background: url("../img/bg3.png");
  min-height: 75vh;
  .hero{

    padding-top: 200px;
    p{
      margin: 20px 0;
      width: 384px;
      height: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
    }
    h1{
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 64px;
      line-height: 87px;
      letter-spacing: 0.003em;
      color: #FFFFFF;
    }
    h3{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.003em;
      color: #FFFFFF;
      padding: 10px 0;
    }
    .Rab{
      width: 250px;
      height: 40px;
      background: #FF001E;
      border-radius: 10px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      border: none;
    }
    .Rab:hover {
      transition: 0.4s;
      background: white;
      border: none;
    }

    .ion-bl{

      .insto{
        height: 31.9918212890625px;
        width: 31.83984375px;
        color: $isman;
      }
      .you{
        height: 31.9918212890625px;
        width: 31.83984375px;
        color: $isman;
        padding: 0 20px;
      }
      .call{
        height: 31.9918212890625px;
        width: 31.83984375px;
        color: $isman;
      }
    }
  }
}
#car {
  margin-top: -80px;
  background: $car;
  padding-top: 1px;
  .car {
    &--block {
      margin-top: 80px;
      padding: 0 20px;
      img {
        margin: 5px 5px;
      }
    }
  }
  &--request{
    h1{
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 42px;
      letter-spacing: 0.003em;
      color: #FFFFFF;

    }
  }
  .request{
    h1{

    }
    &--block{
      @include space-between;
      h4{
        margin-top: -250px;
        width: 629px;
        height: 72px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.003em;
        color: #FFFFFF;
      }
      &__red{
        margin-bottom: 50px;
        width: 642px;
        height: 400px;
        background: #9D0013;
        border-radius: 20px;
        @include space-around;
        flex-wrap: wrap;
        .ttt{
          width: 582px;
          height: 100px;
        }
        .bttn{
          width: 582px;
          height: 40px;
          background:$black ;
          border-radius: 10px;
          border: 2px solid #222222;
          color: $bo;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.003em;
        }
        .bttn:hover{
          background: $bo;
          color: $black;
          border: 2px solid $bo;
          transition: 0.4s;
        }
        input{
          width: 280px;
          height: 40px;
          border-radius: 10px;
          border: 1px solid $bo;
          padding-left: 10px;
        }
        p{
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.003em;
          text-decoration-line: underline;
          color: #FFFFFF;
          width: 576px;
          height: 48px;
        }
      }

    }
  }


}
#footer{
  .footer{
    display: flex;
    &--left{
      margin-right: 201px;
      h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 0.003em;
        color: #000000;

      }
      button{
        width: 294px;
        height: 59px;
        background: #FF001E;
        border-radius: 5px;
        border: 1px solid red;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.003em;
        color: $bo;
        margin: 20px 0;
      }
      .zakaz:hover{
        color: red;
        background: $bo;
        transition: 0.8s;
        border: 1px solid red;
      }
      h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
      div{
        display: flex;
        margin: 20px 0;
        p{
          padding: 0 10px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    &--left2{
      flex-direction: column;
      display: flex;
      margin: -1px 60px;

      h1{
        @include h1;
      }
      a{
        margin: 10px 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.003em;
        color: #000000;
      }
      a:hover{
        transition: 0.2s;
        color: red;
        text-decoration-line: underline;
      }

    }
    &--right{
      flex-direction: column;
      display: flex;

      h1{
        @include h1;
      }
      a{
        margin: 10px 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;

      }
      a:hover{
        transition: 0.2s;
        color: red;
        text-decoration-line: underline;
      }
    }
    &--right2{
      margin: 0px 50px;
      h1{
        @include h1;
      }
      p{
        margin: 10px 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
      }
    }
  }
}